 /* -------------------- CSS BY NAME -------------------------------------- */
            /* Mindy Johnston */
    /* -------------------- IMPORTED FONTS -------------------------------------- */
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

    /*-------------------- CSS REST ---------------------------------------------------*/
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    font-family: 'Bebas Neue', sans-serif;
    --font-heading: 'Bebas Neue', sans-serif;
    --font-text: 'Montserrat', sans-serif;
    --font-text-bold: 'Montserrat', sans-serif;
    font-size: 16px;
    --Black :#0D0D0D;
    --white :#F2F2F2;
    --teal : #7ABFBF;
    --lightblue: rgba(122, 191, 191, .5);
    --orange: #EB5428;
}
/* --------------------GLOBAL STYLES (mobile first/small 414px) --------------------*/
@media screen and (min-width: 414px) {
    body {
     font-family: var(--font-text);
     background-color: var(--lightblue);
     margin-right: 50px;
     margin-left: 50px;   
    }
    h1 {
        font-family: var(--font-heading);
        font-size: 40px;
        text-align: center;
        margin-top: 75px;
        padding-top: 20px;
    }
    h2 {
        font-family: var(--font-heading);
        font-size: 30px;
    }
    h3 {
        font-family: var(--font-heading);
        font-size: 25px;
    }
    nav a, nav span {
        font-family: var(--font-heading);
        font-size: 20px;
    }
    menu li {
        font-family: var(--font-heading);
        font-size: 20px;
    }
    .social {
        font-family: var(--font-heading);
        font-size: 20px;
    }
    footer li div {
        font-family: var(--font-heading);
        font-size: 30px;
    } 
    footer {
        font-family: var(--font-heading);
        font-size: 20px;
    }
    p, dd, li, nav, input {
        font-family: var(--font-text);
        font-size: 16px;
        font-weight: 400;
    }
    dt {
        font-family: var(--font-text-bold);
        font-size: 16px;
        font-weight: 700;
    }
    header {
        background-color: var(--white);
        padding-top: 70px;
    }
    menu {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        color: var(--orange);
        background-color: var(--white);
    }
    menu li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    menu a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: var(--orange);
    }
    main {
        background-color: var(--white);
        padding: 10px;
    }
    div img {
        width: 100%;
        height: auto;
    } 
    main p {
        padding: 10px;
        line-height: 1.25;
    }
    .recipe h2, .ingredients h2, .directions h2{
        display: flex;
        justify-content: center;
    } 
     .recipe dl div {
        display: flex;
        justify-content: left;
        padding: 7px 7px;
     }   
     .recipe dt {
        margin-right: 10px;
     } 
     .ingredients ul {
        list-style-type: square;
        padding: 5px; 
     } 
     .ingredients li{
        margin-left: 5px;
        padding: 10px;
     }
     .directions ol {
        list-style-type: number;
        padding-left: 20px;
     }
     .directions ol li {
        padding: 5px;
        margin: 5px;
        line-height: 1.25;
    }
    aside {
        background-color: var(--teal);
        padding: 15px;
    }
    aside h2 {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .text {
        margin: 15px; 
    }
    aside a {
        text-decoration: none;
        color: var(--Black); 
    }
    aside h4, aside dd {
        display: none;
    }
    .rice img, .salsa img, .guac img, .tortilla img {
        width: 125px;
        height: auto;
    }
    .rice, .salsa, .guac, .tortilla {
        display: flex;
        align-items: flex-start;
        margin: 15px;
        gap: 10px;
    }
    form {
        display: inline-flex;
        flex-wrap: wrap;
        position: absolute;
        z-index: 3;
        top: 60px;
        right: 200px;
        margin-top: 40px;
    }
    form svg {
        background-color: var(--orange);
        padding-bottom: 5px;
    }
    input {
        width: 80%;
        box-sizing: border-box;
        border: 2px solid var(--orange);
        padding: 10px 40px 10px;
    }
    footer {
        background-color: var(--white);
    }
    footer h2, footer h3 {
        visibility: hidden;
    }
    .social {
        display: flex;
        justify-content: space-between;
        color: var(--orange);
    
    }
    .social li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .eats {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .img {
        display: flex;
        justify-content: center;
        width: 300px;
        height: auto; 
        margin: 10px;
        order: -1;
    }
    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        order: 2;
    }
    nav {
        grid-area: nav;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px #bbb;
        position: fixed;
        top: 0;
        z-index:5;
        width: 100px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        max-height: 0;
    }
    #breakfast, #brunch, #lunch, #dinner, #appetizers, #dessert, #beverage {
        display: none;
    }
    nav li a {
        display: block;
        padding: 20px;
        text-decoration: none;
        color: var(--orange);
    }
    nav label {
        cursor: pointer;
        display: inline-block;
        user-select: none;
        position: relative;
        bottom: 5px;
        left: 30px;
    }
    nav label svg {
        display: block;
    }
    nav span {
        display: block;
        position: relative;
     }
     nav label svg {
        display: block;
    }
    nav input {
        display: none;
    }
    nav input:checked ~ ul {
        max-height: 550px;
    }
    nav h2 {
        visibility: hidden;
        height: 1px;
        width: 1px;
    }
    nav #logo {
        background-color: var(--orange);
        box-shadow: 0px 3px 3px #bbb;
        position: fixed;
        top: 0;
        left: 150px;
        z-index: 4;
        width: 350px;
        height: 40px;  
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo svg {
        width: 60px;
        height: 60px;
    }
   nav #sign-in {
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    margin-left: 420px;
    top: 0;
    z-index:5;
    width: 85px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   #sign-in svg {
    width: 40px;
    height: 40px;
}
}
 /*-------------------- MEDIA QUERY (Medium- min-width: 768px) --------------------------------*/
 @media screen and (min-width: 768px) {
 header h1 {
    text-align: left;
    margin-top: 150px;
    margin-bottom: 30px;
 }
form {
    top: -30px;
}
.head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head img {
    display: block;
}
menu {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    background: rgba(299, 299, 299, 0.5);  
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .recipe dl div {
    display: flex;
    justify-content: center;
    width: 100%;
}
.i-d {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sides {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
.social {
    order: 2;
}
.eats {
    order: -1;
}
.img {
    width: 200px;
    height: auto;
}
nav {
    background-color: transparent;
    box-shadow: none; 
}

nav label{
    display: none;
}
nav #logo {
    top: 0;
    left: 50px;
    width: 40px; 
    height: 40px;
    box-shadow: none; 
}
nav #sign-in {
    top: 0;
    left: 33%;
    width: 60px; 
    height: 50px;
    box-shadow: none; 
}
#breakfast, #brunch, #lunch, #dinner, #appetizers, #dessert, #beverage {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 0.5px #bbb; 
}
li img {
    width: 60px; 
    height: auto;
}
nav {
    position: absolute;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 225px;
    left: 0;
    width: 100%;
}
nav li {
    flex: 1;
    text-align: center;
}
nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a div {
    display: flex;
    align-items: center;
    gap: 5px;
}
}
  /*-------------------- MEDIA QUERY (Large- min-width: 1280px) ------------------------------------*/
  @media screen and (min-width: 1280px) {
    header h1 {
        text-align: center;
        margin-top: 120px;
     }
     form {
        top: 90px;
        margin-right: 275px;
    }
    nav {
        position: absolute;
        top: 0;
        left: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100px;
        box-shadow: 0px 2px 0.5px #bbb;
         
    }
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav a div {
        position: absolute;
        left: 50px;
        width: 40px;
        height: 40px;
    }
    nav #sign-in {
        position: absolute;
        left: 680px;
        width: 85px;
        height: 60px;
        box-shadow: 0px 2px 0.5px #bbb; 
    }
    nav #logo {
        position: absolute;
        left: 10px;
        height: 60px;
  }
  #breakfast, #brunch, #lunch, #dinner, #appetizers, #dessert, #beverage {
   margin-top: -210px;
   box-shadow: none;
}
.head {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.menu-list{
    border: 2px solid var(--orange);
}
menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}
.taco {
    margin-left: 150px;
    width: 362px; 
}
.recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--Black);
    color: var(--teal);
    width: 100%;
    text-align: center;
    padding: 10px;
    left: 0;
}
.recipe div {
    flex: 1;
}
.recipe dl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.recipe dl div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.i-d {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.ingredients h2 {
    justify-content: left;
}
.sides {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
}
. div {
    flex: 1;
}
 .rice, .salsa, .guac, .tortilla {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rice img, .salsa img, .guac img, .tortilla img{
    width: 225px;
    height: auto; 
}
.rating {
    display: flex;
    padding-top: 20px;
}
.rice h3, .salsa h3, .guac h3, .tortilla h3 {
    padding-bottom: 20px;
}
}





























